---
permalink: /about/
title: About
nav: 1
description: I'm just another boring developer pretending to know what he's doing in Los Angeles, California. I enjoy late night food runs, eating wings, staring at my desktop legion, and occasionally playing on my PS4.
---

{% extends '_layouts/page.html.twig' %}
{% from _self import brag_display, brag_repeater %}

{% block title %}
    About | allejo.io
{% endblock %}

{% macro brag_repeater(cards) %}
    {%- for card in cards -%}
        <article class="c-bragcard">
            <header class="c-bragcard__header">
                <div class="c-bragcard__title">
                    <p class="c-bragcard__heading-1">
                        {% if card.url %}<a href="{{ card.url }}">{% endif %}
                        {{ card.title }}
                        {% if card.url %}</a>{% endif %}
                    </p>

                    {% if card.slug %}
                        <p class="c-bragcard__heading-2">{{ card.slug }}</p>
                    {% endif %}
                </div>
                <div class="c-bragcard__meta">
                    {% if card.event_date %}
                        {{ card.event_date | date ('M Y') }}
                    {% else %}
                        {{ card.start | date('M Y') }} - {{ (card.end) ? (card.end | date('M Y')) : 'Current' }}
                    {% endif %}
                </div>
            </header>

            <section class="c-bragcard__body">
                {{ card.content }}
            </section>

            {#<footer class="c-bragcard__footer">#}
                {#{% if card.tags %}#}
                    {#<ul class="c-tags u-list-inline">#}
                        {#{% for tag in card.tags %}#}
                            {#<li>{{ tag }}</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% endif %}#}
            {#</footer>#}
        </article>
    {%- endfor -%}
{% endmacro %}

{% macro brag_display(collection) %}
    {% from _self import brag_repeater %}

    {% set active = collection | where('end', '==', null) | order('start', 'ASC') %}
    {% set former = collection | where('end', '!=', null) | order('end', 'DESC') %}

    {{ brag_repeater(active) }}
    {{ brag_repeater(former) }}
{% endmacro %}

{% block content %}
    {% markdown %}
        # About

        My name's Vladimir and on the Internet, I go by "allejo."

        I pretend to know what I'm doing as a developer solely because I can't live out my dream of taking part in interstellar space travel. I enjoy late night food runs, eating wings, staring at my desktop legion, and occasionally playing on my PS4.

        When I'm not building on BZFlag related projects or working on open source projects, I work as a web developer for California State University, Northridge. On any given day, I could be designing a front-end, maintaining open source projects, teaching profanity to a chat bot, or working on a <abbr title="Content Management System">CMS</abbr>.

        ## Communities

        Since I'm not busy enough and am an advocate for open source projects, these are the projects/communities that I'm actively involved in and dedicate a lot of my spare time towards.
    {% endmarkdown %}

    {{ brag_display(collections.communities) }}

    {% markdown %}
        ## Places I've Worked

        It's not all just open source and games for me; just like most people, I have bills to pay too. These are the awesome companies and organizations that have helped me do so over the years.
    {% endmarkdown %}

    {{ brag_display(collections.experience) }}

    {% markdown %}
        ## Accomplishments

        I occasionally take part in code related competitions whenever I'm invited to do so. Here are some notable mentions of competitions I've participated in and the work I did during the said competitions.
    {% endmarkdown %}

    {% set accomplishments = collections.accomplishments | order('event_date', 'DESC') %}
    {{ brag_repeater(accomplishments) }}

    {% markdown %}
        ## How to Support Me

        I do the majority of my open source work for fun because I enjoy it. If you've found any of my projects useful and want to support its development, here are a few ways you can.

        1. Star the project on GitHub.
        1. Subscribe to one of my feeds.
        1. Send a donation via [PayPal](https://www.paypal.me/allejo) or [Square Cash](https://cash.me/$allejo).
    {% endmarkdown %}
{% endblock %}
