---
permalink: /about/
title: About
nav: 1
description: I'm just another boring developer pretending to know what he's doing in Los Angeles, California. I enjoy late night food runs, eating wings, staring at my desktop legion, and occasionally playing on my PS4.
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    About | allejo.io
{% endblock %}

{% macro brag_repeater(cards) %}
    {%- for card in cards -%}
        <article class="c-bragcard">
            <header class="c-bragcard__header">
                <div class="c-bragcard__title">
                    <p class="c-bragcard__heading-1">{{ card.title }}</p>
                    <p class="c-bragcard__heading-2">{{ card.slug }}</p>
                </div>
                <div class="c-bragcard__meta">
                    {% if card.event_date %}
                        {{ card.event_date | date ('M Y') }}
                    {% else %}
                        {{ card.start | date('M Y') }} - {{ (card.end) ? (card.end | date('M Y')) : 'Current' }}
                    {% endif %}
                </div>
            </header>

            <section class="c-bragcard__body">
                {{ card.content }}
            </section>

            {#<footer class="c-bragcard__footer">#}
                {#{% if card.tags %}#}
                    {#<ul class="c-tags u-list-inline">#}
                        {#{% for tag in card.tags %}#}
                            {#<li>{{ tag }}</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#{% endif %}#}
            {#</footer>#}
        </article>
    {%- endfor -%}
{% endmacro %}

{% block content %}
    {% markdown %}
        # About

        My name's Vladimir and on the Internet, I go by "allejo."

        I'm just another boring developer pretending to know what he's doing in Los Angeles, California. I enjoy late night food runs, eating wings, staring at my desktop legion, and occasionally playing on my PS4.

        When I'm not building on BZFlag related projects or working on open source projects, I work as a web developer for the Associated Students at my college. On any given day, I could be designing a front-end, maintaining open source projects, or maintaining content in a <abbr title="Content Management System">CMS</abbr>.

        ## Communities

        Since I'm not busy enough and am an advocate for open source projects, these are the projects/communities that I'm actively involved in and dedicate a lot of my spare time towards.

        - **[BZFlag](http://bzflag.org)** &mdash; One of the first online games I discovered and have been a part of the community since 2007. I am a part of the development team, host the largest game server, write server plug-ins, and help run the competitive league within the community.
        - **[Jekyll](https://jekyllrb.com)** &mdash; I hang around [#jekyll](irc://irc.freenode.net/jekyll) on Freenode and help out users. I additionally have started to work on plug-ins and themes that I plan on releasing as open source in the near future.
        - **[Socrata](https://dev.socrata.com)** &mdash; I spend time on [#socrata-soda](irc://irc.freenode.net/socrata-soda) on Freenode, help provide support for PHP users, and have written [PhpSoda](http://github.com/allejo/PhpSoda) as an alternative to the official library.

        ## Places I've Worked
    {% endmarkdown %}

    {% set active_jobs = collections.experience | where('end', '==', null) | order('start', 'ASC') %}
    {% set old_jobs    = collections.experience | where('end', '!=', null) | order('start', 'DESC') %}

    {{ _self.brag_repeater(active_jobs) }}
    {{ _self.brag_repeater(old_jobs) }}

    {% markdown %}
        ## Accomplishments

        I occasionally take part in code related competitions whenever I'm invited to do so. Here are some notable mentions of competitions I've participated in and the work I did during the said competitions.
    {% endmarkdown %}

    {% set accomplishments = collections.accomplishments | order('event_date', 'DESC') %}
    {{ _self.brag_repeater(accomplishments) }}

    {% markdown %}
        ## How to Support Me

        I do the majority of my open source work for fun because I enjoy it. If you've found any of my projects useful and want to support its development, here are a few ways you can.

        1. Star the project on GitHub.
        1. Subscribe to one of my feeds.
        1. Send a donation via [PayPal](https://www.paypal.me/allejo) or [Square Cash](https://cash.me/$allejo).
    {% endmarkdown %}
{% endblock %}
