---
permalink: /anthologies/
title: Writing
nav: 4
description: I'll be writing articles/tutorials that belong together more than just being about the same topic but in fact are directly tied to each other.
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    Anthologies | allejo.io
{% endblock %}

{% block content %}
    {% markdown %}
        # Anthologies

        I'll be writing articles/tutorials that belong together more than just being about the same topic but in fact are directly tied to each other. For this reason, I'll be classifying them as anthologies and I've listed them below.
    {% endmarkdown %}

    {% set anthologies = collections.posts | group('anthology') %}

    {% for title in anthologies | keys %}
        {%- set info = data.anthologies | where('name', '==', title) | first -%}

        <article class="c-anthology">
            <header>
                <h2 id="{{ title | lower | replace({' ': '-'}) }}">{{ title }}</h2>
                <small class="c-anthology__meta">
                    <span>updates: <em>{{ info.updates }}</em></span>
                    <span>status: <em>{{ info.status }}</em></span>
                </small>
            </header>

            <section class="c-anthology__description">
                {{ info.description | markdown }}

                <ul>
                    {% for article in anthologies[title] | order('date', 'ASC') %}
                        <li><a href="{{ url(article) }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    {% endfor %}
{% endblock %}
