---
title: Atom Feed
permalink: /atom.xml
menu: false
sitemap:
  exclude: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }} | {{ site.motto }}</title>
    <link href="{{ url('atom.xml', absolute = true) }}" rel="self"/>
    <link href="{{ url('/', absolute = true) }}"/>
    <updated>{{ 'now' | date(constant('\DateTime::RFC3339')) }}</updated>
    <id>{{ url('/', absolute = true) }}</id>
    <author>
        <name>{{ site.author.name }}</name>
        <email>{{ site.author.email }}</email>
    </author>

    {% for post in collections.posts | order('date', 'DESC') %}
        <entry>
            <title>{{ post.title }}</title>
            <link href="{{ url(post, absolute = true) }}" rel="alternate" type="text/html" title="{{ post.title | escape('html_attr') }}" />
            <updated>{{ post.date | date(constant('\DateTime::RFC3339')) }}</updated>
            <id>{{ url(post, absolute = true) | sha1 }}</id>
            <content type="html" xml:base="{{ url(post, absolute = true) }}">{{ post.content | escape }}</content>
        </entry>
    {% endfor %}
</feed>
