---
title: Home
permalink: /
description: I'm an active open source developer pretending to know what he's doing and in turn, always breaks the build.
---

{% extends '_layouts/base.html.twig' %}

{% from '_macros/calendar.html.twig' import calendar %}

{% set pageWideCSS = 's-homepage u-background-white' %}

{% block body %}
    <div class="c-split-container row no-gutters picture-row">
        <div class="col-lg-6 u-background-light py-3 py-lg-5">
            <div class="c-split-container__left text-center text-lg-left px-3 px-sm-5 h5">
                {% include '_includes/navigation.html.twig' %}
            </div>
        </div>
        <div class="col-lg-6 u-background-dark py-3 py-sm-5">
            <div class="c-split-container__right text-center text-lg-left">
                <div class="c-thumbnail">
                    <img
                        src="https://www.gravatar.com/avatar/{{ site.author.email | md5 }}?s=200"
                        alt="allejo's profile picture"
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="u-background-white py-4 py-lg-5 text-center">
        <h1 class="site-title">allejo</h1>
        <p>{{- site.motto -}}</p>

        <div class="h3 m-0">
            {% include '_includes/social-media.html.twig' %}
        </div>
    </div>

    <div class="c-split-container row no-gutters">
        <div class="col-lg-6 u-background-dark">
            <article class="c-split-container__left px-3 py-4 p-sm-5">
                {% set latest_article = collections.posts | order('date', 'DESC') | first %}

                <div class="latest-post mb-4">
                    <h3 class="post-title">
                        <a href="{{ url(latest_article) }}">
                            {{ latest_article.title }}
                        </a>
                    </h3>

                    <div class="post-date">
                        {{ calendar(latest_article.date) }}
                    </div>
                </div>

                <div class="s-markdown mb-4">
                    {{ latest_article.content | summary | striptags }}
                </div>

                <footer class="text-lg-right">
                    <a href="{{ url(latest_article) }}" class="c-button">
                        <i class="fa fa-fw fa-glasses" aria-hidden="true"></i>
                        Read full post
                    </a>
                </footer>
            </article>
        </div>

        <div class="col-lg-6 u-background-light">
            <div class="c-split-container__right px-3 py-4 p-sm-5">
                <h2 class="mt-0 mb-4">Want to support what I do?</h2>

                <p>
                    Everything I do is out of sheer unbearable boredom where I'd go crazy if I didn't keep myself occupied. In turn, you get to benefit from the random things I build. Here are some of the roles I'm most known for:
                </p>
                <ul>
                    <li><a href="https://www.bzflag.org">BZFlag</a> core developer</li>
                    <li>Current <a href="https://github.com/scrivo/highlight.php">highlight.php</a> maintainer</li>
                    <li><a href="https://github.com/allejo/jekyll-toc">jekyll-toc</a> and <a href="https://github.com/allejo/jekyll-anchor-headings">jekyll-anchor-headings</a> developer</li>
                </ul>
                <p class="mb-4">
                    If any of my projects or work has saved you or your company any money, time, headaches, or effort, or has brought you any joy, please consider supporting me and my ventures!
                </p>

                <div class="c-button-container">
                    <a href="{{ url(pages['Support Me']) }}" class="c-button">
                        <i class="fa fa-fw fa-arrow-right" aria-hidden="true"></i>
                        Support Me
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="u-background-white text-center py-4 py-sm-5">
        <span>copyright &copy; {{ 'now' | date('Y') }}</span>
    </footer>
{% endblock %}
