---
title: Home
permalink: /
description: I'm an active open source developer pretending to know what he's doing and in turn, always breaks the build.
---

{% extends '_layouts/base.html.twig' %}

{% from '_macros/calendar.html.twig' import calendar %}

{% set pageWideCSS = 's-homepage u-background-white' %}

{% block body %}
    <div class="c-split-container row no-gutters picture-row">
        <div class="col-lg-6 u-background-light py-3 py-lg-5">
            <div class="c-split-container__left text-center text-lg-left px-3 px-sm-5 h5">
                {% include '_includes/navigation.html.twig' %}
            </div>
        </div>
        <div class="col-lg-6 u-background-dark py-3 py-sm-5">
            <div class="c-split-container__right text-center text-lg-left">
                <div class="c-thumbnail">
                    <img
                        src="https://www.gravatar.com/avatar/{{ site.author.email | md5 }}?s=200"
                        alt="allejo's profile picture"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="u-background-white py-4 py-lg-5 text-center">
        <h1 class="site-title">allejo</h1>
        <p>{{- site.motto -}}</p>

        <div class="h3 m-0">
            {% include '_includes/social-media.html.twig' %}
        </div>
    </div>

    <div class="u-background-dark py-5">
        <div class="container">
            <p class="h4 line-height-1 mb-4 text-center">
                i'm a senior full-stack software developer
                <br />
                <small class="h6 font-italic">who has helped build...</small>
            </p>

            {% set sites = [
                {
                    image: 'site-stackoverflow-com.jpg',
                    url: 'https://stackoverflow.com',
                    name: 'Stack Overflow',
                    company: 'Stack Exchange, Inc.',
                },
                {
                    image: 'site-highlightjs-org.jpg',
                    url: 'https://highlightjs.org',
                    name: 'highlightjs.org',
                    company: 'Open Source',
                },
                {
                    image: 'site-bigbluebus-com.jpg',
                    url: 'https://bigbluebus.com',
                    name: 'Big Blue Bus',
                    company: 'City of Santa Monica',
                }
            ] %}
            <ul class="row u-list-inline">
                {% for site in sites %}
                    <li class="col-sm-6 col-lg-4 mb-lg-0 {{ loop.last and loop.index % 2 == 1 ? 'mb-0 offset-sm-3 offset-lg-0' : 'mb-5' }}">
                        <div class="c-picture-frame mb-4">
                            <img
                                src="{{ url('/assets/images/' ~ site.image) }}"
                                alt="Screenshot of {{ site.name }}"
                            />
                        </div>
                        <div class="u-background-darker p-3">
                            <p class="h3 mb-0 font-weight-bold line-height-1">{{ site.name }}</p>
                            <p class="m-0">
                                <a href="{{ site.url }}" target="_blank" rel="noreferrer nofollow">
                                    {{ site.url | replace({'https://': '', 'http://': ''}) }}
                                </a>
                            </p>
                            <p class="mb-0 mt-3 font-weight-bold small text-muted">
                                {{ site.company }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="mt-5 text-center">
                <a href="{{ url(pages['Projects']) }}" class="c-button c-button--filled">
                    <i class="fa fa-fw fa-images" aria-hidden="true"></i>
                    See my portfolio
                </a>
            </div>
        </div>
    </div>

    <section class="u-background-light py-5">
        <div class="container">
            <p class="h4 line-height-1 mb-5 text-center text-highlight">
                and contributor to many open source communities
                <br />
                <small class="h6 font-italic">you may know me from...</small>
            </p>

            {% set communities = [
                {
                    logo: 'logo-bzflag',
                    description: "Free multi-player 3D tank battle game for Windows, Linux, and macOS. I'm a core developer for the project and community.",
                    project: 'bzflag',
                },
                {
                    logo: 'logo-highlightjs',
                    description: "A syntax highlighting library written in JavaScript. I'm a core team member for the project.",
                    project: 'highlightjs',
                },
                {
                    logo: 'logo-jekyll',
                    description: "A static site generator written in Ruby. My Liquid snippets power a lot of the most popular Jekyll themes.",
                    project: 'jekyll',
                },
                {
                    logo: 'logo-php',
                    description: "A popular programming language. I maintain a number of PHP libraries used throughout the entire PHP ecosystem.",
                    project: 'php',
                }
            ] %}

            <div class="community-contributions mb-5">
                {% set smCounter = 0 %}
                {% set smColCount = 2 %}
                {% set lgColCount = 4 %}

                {% for community in communities %}
                    {% set smImageCount = loop.index + smCounter %}
                    {% set lgImageCount = loop.index %}

                    <div class="community-contributions__image order-sm-{{ smImageCount }} order-lg-{{ lgImageCount }}">
                        {{ file('../assets/images/' ~ community.logo ~ '.svg') }}
                    </div>
                    <div class="community-contributions__desc p-3 u-background-darker order-sm-{{ smImageCount + smColCount }} order-lg-{{ lgImageCount + lgColCount }}">
                        <p class="mb-4">{{ community.description }}</p>

                        <a href="{{ url('/projects/' ~ community.project) }}" class="mt-auto text-center">
                            <i class="fa fa-fw fa-code" aria-hidden="true"></i>
                            See my contributions
                            <span class="sr-only"> to {{ community.project }}</span>
                        </a>
                    </div>

                    {% if loop.index % 2 == 0 %}
                        {% set smCounter = smCounter + 2 %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="c-button-container text-center">
                <a href="{{ url(pages['Projects']) }}" class="c-button c-button--filled">
                    <i class="fa fa-fw fa-folder" aria-hidden="true"></i>
                    See my other projects
                </a>

                <a href="{{ url(pages['Supporters']) }}" class="c-button c-button--filled">
                    <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                    See my sponsors
                </a>
            </div>
        </div>
    </section>

    <footer class="u-background-white text-center py-4 py-sm-5">
        <span>copyright &copy; {{ 'now' | date('Y') }}</span>
    </footer>
{% endblock %}
