---
permalink: /portfolio/
title: Portfolio
nav: 3
---

{% extends '_layouts/page.html.twig' %}

{% block content %}
    <h1>Portfolio</h1>

    <p>I work on a lot of different projects and all of my open source projects are available on my <a href="https://github.com/allejo">GitHub</a>.</p>

    <div class="row c-portfolio">
        <div class="col-md-7">
            <article class="c-portfolio__category">
                <header>
                    {{ file('../assets/images/bzflag.svg') }}
                    <h3>BZFlag</h3>
                </header>

                <div class="c-portfolio__category__content">
                    <p>I'm a developer for the project, server host, map designer, and an administrator for the competitive league in the community.</p>
                </div>

                <footer>
                    <ul class="u-list-inline">
                        <li><a href="#">Maps</a></li>
                        <li><a href="#">Plug-ins</a></li>
                        <li><a href="#">Projects</a></li>
                    </ul>
                </footer>
            </article>
        </div>
        <div class="col-md-5">
            <div class="c-portfolio__category">
                <header>
                    {{ file('../assets/images/jekyll.svg') }}
                    <h3>Jekyll</h3>
                </header>

                <div class="c-portfolio__category__content">
                    <p>I work on a lot of Jekyll websites, build themes, and develop plugins.</p>
                </div>

                <footer>
                    <ul class="u-list-inline">
                        <li><a href="#">Themes</a></li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col-md-5">
            <div class="c-portfolio__category">
                <header>
                    {{ file('../assets/images/library.svg') }}
                    <h3>Libraries</h3>
                </header>

                <div class="c-portfolio__category__content">
                    <p>I work on a number of open source libraries for different services.</p>
                </div>

                <footer>
                    <ul class="u-list-inline">
                        <li><a href="#">Libraries</a></li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col-md-7">
            <div class="c-portfolio__category">
                <header>
                    {{ file('../assets/images/stakx.svg') }}
                    <h3>Stakx</h3>
                </header>

                <div class="c-portfolio__category__content">
                    <p>I started this project as an alternative to Jekyll to make use of a more powerful template engine and a different language.</p>
                </div>

                <footer>
                    <ul class="u-list-inline">
                        <li><a href="https://github.com/stakx-io/stakx">Project</a></li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="col-md-12">
            <div class="c-portfolio__category">
                <header>
                    {{ file('../assets/images/webdesign.svg') }}
                    <h3>Web Design</h3>
                </header>

                <div class="c-portfolio__category__content">
                    <p>I do a lot of front-end web design, including the actual design of mockups and building the website from the ground up.</p>
                </div>

                <footer>
                    <ul class="u-list-inline">
                        <li><a href="#">Websites</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
