---
title: Support Me
permalink: /support-me/
menu: false
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    Support Me | allejo.io
{% endblock %}

{% block content %}
    {% markdown %}
        # Support Me

        I do the majority of my open source work for fun because I enjoy it. If you've found any of my projects useful and want to support its development, here are a few ways you can.

        By sponsoring my projects and my time, you will get your name and a social media link added to my [Supporters page]({{ url(pages['Supporters']) }}).

        ## Sponsor My Work

        If you'd like sponsor my work on a reoccurring basis, I gladly welcome it! You may sponsor me on the following platforms and you'll get added benefits with your sponsorship.

        <div class="c-button-container">
            <a href="https://github.com/sponsors/{{ site.social.github.username }}" class="c-button">
                <i class="fab fa-fw fa-github" aria-hidden="true"></i>

                GitHub Sponsors
            </a>
            <a href="https://buymeacoffee.com/{{ site.social.coffee.username }}/membership" class="c-button">
                <i class="fas fa-fw fa-coffee" aria-hidden="true"></i>
                Buy me a coffee Subscription
            </a>
            {# <a href="https://patreon.com/{{ site.social.patreon.username }}" class="c-button">
                <i class="fab fa-fw fa-patreon" aria-hidden="true"></i>

                Support Me on Patreon
            </a> #}
        </div>

        ## Send a Donation

        If you'd like to send a donation my way as encouragement or thanks for any of the free content I've created, here are ways for you to support me.

        <div class="c-button-container">
            <a href="https://buymeacoffee.com/{{ site.social.coffee.username }}" class="c-button">
                <i class="fas fa-fw fa-coffee" aria-hidden="true"></i>
                Buy me a coffee
            </a>
            <a href="https://ko-fi.com/{{ site.social.kofi.username }}" class="c-button">
                <i class="fas fa-fw fa-utensils" aria-hidden="true"></i>
                Feed my sushi addiction
            </a>
            <a href="https://paypal.me/{{ site.social.paypal.username }}" class="c-button">
                <i class="fab fa-fw fa-paypal" aria-hidden="true"></i>
                Send PayPal Money
            </a>
        </div>

        ## Follow Me on Social Media

        I'm not very active on social media but I do occasionally post with regards to stuff I build or have learned; having followers makes me feel popular. Oh, let's not forget about my several attempts at being funny.

        - [GitHub](https://github.com/allejo)
        - [Instagram](https://www.instagram.com/allejome/)
        - [Twitter](https://twitter.com/allejome)

        ## Spread the Word

        While I may not be active on social media, you probably are. So if you like any of the content you found on my website or on my GitHub, consider sharing it on your social media too.

        ## Subscribe to Feeds

        Subscribe to one of my feeds to keep up to date with every worthless piece I may write.

        - [Atom Feed]({{ url(pages['Atom Feed']) }})
        - [JSON Feed]({{ url(pages['JSON Feed']) }})
    {% endmarkdown %}
{% endblock %}
