---
title: Supporters
permalink: /thanks/
menu: false
---

{% extends '_layouts/page.html.twig' %}

{%- macro unordered_list(arr) -%}
    <ul>
        {%- for item in arr -%}
            <li>
                {% if item.url %}<a href="{{ item.url }}" referrerpolicy="no-referrer">{% endif %}
                    {{ item.name }}
                {% if item.url %}</a>{% endif %}
            </li>
        {%- endfor -%}
    </ul>
{%- endmacro -%}

{% set github = '[GitHub Sponsors](https://github.com/sponsors/allejo)' %}
{% set ko_fi = '[Ko-Fi](https://ko-fi.com/allejo)' %}
{% set coffee = '[Buy Me a Coffee](https://buymeacoffee.com/allejo)' %}
{% set paypal = '[PayPal](https://www.paypal.me/allejo)' %}

{% block content %}
    {% from _self import unordered_list %}

    {% markdown %}
        # Thanks!

        My dream is to retire young, have a farm, and work on open source software for fun. Help me achieve this dream by donating to my retirement fund or sponsoring my open source work! I am grateful to everyone who has financially supported my open source ventures via {{ github }}, {{ ko_fi }}, {{ coffee }}, or {{ paypal }}.

        ## Sponsorships

        These are the amazing individuals who have supported me with recurring sponsorships through {{ github }}.

        {{ unordered_list(data.sponsors.sponsors | order('name')) }}

        ## One-time Sponsors

        These sponsors have made their impact with one-time donations for any of my projects through {{ ko_fi }}, {{ coffee }}, or {{ paypal }}.

        {{ unordered_list(data.sponsors['one-time'] | order('name')) }}
    {% endmarkdown %}
{% endblock %}
