---
permalink: /projects/bzflag/%categories/
categories:
  - maps
  - plug-ins
  - projects
descriptions:
  maps: Beside my development work for BZFlag, I explore my creative side on occassion and design some maps.
  'plug-ins': A lot of my work for BZFlag goes to the game server code and the plug-in API. These are the plug-ins that I have written and still actively maintain and support.
  projects: I actively contribute to the community in the form of third-party projects unaffiliated with the official project.
---

{% extends '_layouts/page.html.twig' %}

{% block body %}
    <h1>BZFlag {{ this.iterators.categories | title }}</h1>

    <p>{{ this.descriptions[this.iterators.categories] }}</p>

    {% set projects = collections.projects | where('category', '==', 'bzflag') | where('subcategory', '==', this.iterators.categories) %}

    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <article class="c-tile c-project-card">
                    <header>
                        <h3>{{ project.name }}</h3>
                    </header>

                    <section>
                        {{ project.content }}
                    </section>

                    <footer>
                        <ul class="u-list-inline u-list-horizontal-separator">
                            {% if project.github %}
                                <li><a href="https://github.com/{{ project.github }}">GitHub</a></li>
                            {% endif %}

                            {% if project.website %}
                                <li><a href="{{ project.website }}">Website</a></li>
                            {% endif %}
                        </ul>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
