---
permalink: /projects/
title: Projects
menu: true
nav: 3
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    Portfolio | allejo.io
{% endblock %}

{% macro entry(classes, name, description, links, simpleUrl) %}
    <div class="{{ classes }}">
        <article class="c-tile c-portfolio__category">
            <header>
                {% set fileName = name | lower | replace({' ': ''}) %}
                {{ file('../../assets/images/' ~ fileName ~ '.svg') }}
                <h3>{{ name }}</h3>
            </header>

            <div class="c-portfolio__category__content">
                <p>{{ description }}</p>
            </div>

            <footer>
                <ul class="u-list-inline u-list-horizontal-separator">
                    {% for link in links %}
                        {% set targetUrl %}projects/{{ name | lower | replace(' ', '-') }}{% if not simpleUrl %}/{{ link | lower }}/{% endif %}{% endset %}
                        <li><a href="{{ url(targetUrl) }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </footer>
        </article>
    </div>
{% endmacro %}

{% block content %}
    <h1>Portfolio</h1>

    <p>I work on a lot of different projects and all of my open source projects are available on my <a href="https://github.com/allejo">GitHub</a>.</p>

    <div class="row c-portfolio">
        {{ _self.entry(
            'col-md-7',
            'BZFlag',
            "I'm a developer for the project, server host, map designer, and a leader for the competitive league in the community.",
            ['Plug-ins', 'Projects'],
            false
        ) }}
        {{ _self.entry(
            'col-md-5',
            'Jekyll',
            "I work on a lot of Jekyll websites, build themes, and develop plugins.",
            ['Projects', 'Themes'],
            false
        ) }}
        {{ _self.entry(
            'col-md-5',
            'Libraries',
            "I work on a number of open source libraries for different services.",
            ['Libraries'],
            true
        ) }}
        {{ _self.entry(
            'col-md-7',
            'stakx',
            "I started this project as an alternative to Jekyll to make use of a more powerful template engine and a different language.",
            ['Projects'],
            true
        ) }}
        {{ _self.entry(
            'col-md-12',
            'Web Design',
            "I do a lot of front-end web design, including the actual design of mockups and building the website from the ground up.",
            ['Websites'],
            true
        ) }}
    </div>
{% endblock %}
