<ul class="c-social">
    {% for site in data.social %}
        <li>
            <a href="{{ site.url }}" title="{{ site.slug }}" rel="noopener {{ site.rel | default('') }}" target="_blank">
                <i class="fab fa-fw fa-{{ site.logo }}">
                    <span class="sr-only">{{ site.slug }}</span>
                </i>
            </a>
        </li>
    {% endfor %}
</ul>
