---
permalink: /about/
title: About
nav: 1
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    About | allejo.io
{% endblock %}

{% macro brag_repeater(cards) %}
    {% for card in cards %}
        <article class="c-bragcard">
            <header class="c-bragcard__header">
                <div class="c-bragcard__title">
                    <p class="c-bragcard__heading-1">{{ card.title }}</p>
                    <p class="c-bragcard__heading-2">{{ card.slug }}</p>
                </div>
                <div class="c-bragcard__meta">
                    {% if card.event_date %}
                        {{ card.event_date | date ('M Y') }}
                    {% else %}
                        {{ card.start | date('M Y') }} - {{ (card.end) ? (card.end | date('M Y')) : 'Current' }}
                    {% endif %}
                </div>
            </header>

            <section class="c-bragcard__body">
                {{ card.content }}
            </section>

            <footer class="c-bragcard__footer">
                {% if card.tags %}
                    <ul class="c-tags u-list-inline">
                        {% for tag in card.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </footer>
        </article>
    {% endfor %}
{% endmacro %}

{% block content %}
    {% markdown %}
        # About

        Hi, I'm allejo
        <br>
        <small>(or "allejome" or "allejo256" if someone has rudely taken "allejo" on a specific website)</small>

        My name's Vladimir and I'm a computer science major with a minor in GIS; the CS part is terribly boring. I spend a lot of time around the open source community and contribute to projects as I can. I specialize in web design but I do a lot of work with Linux server administration, development, and graphic design.

        I joined the [BZFlag](http://bzflag.org/) community in 2008 and started submitting patches along with writing plug-ins; I'm now part of the development team and run the largest game server. I've slowly branched out and have joined other open source communities in different manners.

        - [18F](https://github.com/18f) - I spend time around their GitHub projects helping out other developers in issues and occasionally send them pull requests.
        - [Jekyll](http://jekyllrb.com/) - I hang around [#jekyll](irc://irc.freenode.net/jekyll) on Freenode and help out users. In addition, I've started writing plug-ins and themes that I use internally but intend on releasing them as open source.
        - [Socrata](http://dev.socrata.com/) - I hang around [#socrata-soda](irc://irc.freenode.net/socrata-soda) on Freenode, help provide support for PHP users, and have written [PhpSoda](http://github.com/allejo/PhpSoda) as an alternative to their official library.

        I'm socially awkward and sometimes I'm funny; I'm also notorious for breaking the build.

        # Experience
    {% endmarkdown %}

    {% set active_jobs     = collections.experience | where('end', '==', null) | order('start', 'ASC') %}
    {% set old_jobs        = collections.experience | where('end', '!=', null) | order('start', 'DESC') %}
    {% set accomplishments = collections.accomplishments | order('event_date', 'DESC') %}

    {{ _self.brag_repeater(active_jobs) }}
    {{ _self.brag_repeater(old_jobs) }}

    <h1>Accomplishments</h1>

    {{ _self.brag_repeater(accomplishments) }}
{% endblock %}
