{% extends '@theme/layouts/page.html.twig' %}

{% import '_layouts/utilities.html.twig' as utils %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,700|Montserrat" rel="stylesheet">
{% endblock %}

{% block sidebar %}
    <div class="c-branding c-branding--xmas">
        <a href="{{ url('/') }}" class="c-branding__logo">allejo</a>
        <img src="{{ url('/assets/images/logo-hat-xmas.png') }}" class="c-branding__hat" aria-hidden="true" />
    </div>

    <nav class="c-navigation">
        <ul class="u-list-inline">
            {{ utils.navigation() }}
        </ul>
    </nav>

    <footer>
        <ul class="c-social u-list-inline">
            {{ utils.social() }}
        </ul>

        <p class="c-copyright">Copyright &copy; {{ 'now' | date('Y') }}</p>
    </footer>
{% endblock %}

{% block body %}
    <div class="c-page-header">
        <button class="c-hamburger c-hamburger--htx">
            <span></span>

            <p class="sr-only__text">toggle menu</p>
        </button>
    </div>

    {% block content %}{% endblock %}
{% endblock %}

{% block javascript %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59480871-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}
