{% extends '_layouts/base.html.twig' %}

{% block body %}
    <aside class="c-sidebar u-background-dark">
        <div class="c-branding mb-5">
            <a href="{{ url(pages['Home']) }}" class="c-branding__logo">allejo</a>
        </div>

        <nav class="c-navigation mb-5">
            {% include '_includes/navigation.html.twig' %}
        </nav>

        <div class="h5 mb-5">
            {% include '_includes/social-media.html.twig' %}
        </div>

        <p>Copyright &copy; {{ 'now' | date('Y') }}</p>
    </aside>

    <main class="c-page u-background-light">
        <span id="main-content"></span>

        <div class="c-page-header">
            <button class="c-hamburger c-hamburger--htx">
                <span></span>

                <span class="sr-only__text">toggle menu</span>
            </button>
        </div>

        <div class="c-print-header">
            <p class="c-print-header__title">allejo</p>
            <p class="c-print-header__slogan">
                {{ site.motto }} &bull; <a href="{{ site.url }}">{{ site.url }}</a>
            </p>
        </div>

        {% block content %}{% endblock %}

        <footer class="c-site-footer">
            <ul class="u-list-inline">
                <li><a href="{{ url(pages['Contact']) }}">Contact</a></li>
                <li><a href="{{ url(pages['Support Me']) }}">Support Me</a></li>
            </ul>
        </footer>
    </main>
{% endblock %}
